.one{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.box{
    width: 100%;
    text-align: center;
}
.wegome{
    font-size: 17px;
    color: #9b9b9b;

}
.ipt{
    margin-top: 20px;
    margin-left: 800px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.btn{
    width: 300px;
    margin-top: 20px;
}
.to{
    height: 100vh;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portrait{
    display: flex;
}
.icon{
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #cccccc;
    color: #fff;
}
.name{
    margin-left: 8px;
    padding-bottom: 20px;
}