.one{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.box{
    width: 100%;
    text-align: center;
}
.wegome{
    font-size: 10px;
    color: #9b9b9b;

}